.Participant {
    position: relative;
    width: 32px;
    height: 32px;
}
.Participant-image {
    border-radius: 3px;
}
.Participant--approved .Participant-image {
    opacity: .5;
}
.Participant--approved .Participant-badge {
    background-color: #14892C;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-size: 13px;
}
